[run]
branch = True
source = netpgp_cffi

[paths]
source =
	src/netpgp_cffi
	.tox/*/lib/python*/site-packages/netpgp_cffi
	.tox/pypy*/site-packages/netpgp_cffi


[html]
directory = build/htmlcov


[xml]
output = build/coverage.xml
